$titlesColor: #353434;
$descriptionsColor: #a8a8a8;
$mainPurpleColor: #544cac;
$secondaryPurpleColor: #4238af;
$placeholderColor: #a5a5a5;

$mainFont: "Open Sans", serif;
$secondaryFont: "Oswald", serif;
$thirdFont: "Prompt", serif;

$transitionValue: transform 0.3s ease;